In [1]:
'''For titanic datset : 


1 . Find out how many male and female passenger was onboarded .
2. how many survived we have .
3. how many casuality we have 
4 . what is name of a person who is the eldest one . 
5 . how many passenger do we have in first , second and third class 
6. how many person we have whose name starts with "s"
7. try to create a new column which is a summation  of "SibSp" and "parch"
8 . how many person do we have below age of 25 .
9 . how many person died whose age was less then 40 
10 . from a  cabin column seperate text and numeric value . '''

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

'''Counts male present on a boat'''
sax_male = df["Sex"] == "male"

'''Counts female present on the boat'''
sex_femle = df["Sex"] == "female"

'''Count how many people survived'''
Psurvived = df["Survived"] == 1

'''Gives name of the eldest person on the boat'''
eldest_person = df["Age"] == min(df["Age"])
eldest_person_name = df[eldest_person]["Name"]

'''Gives the count of perosns tevelling with each class'''
P_firstclass = df["Pclass"] ==1
P_secondclass = df["Pclass"] == 2
P_thirdclass = df["Pclass"] == 3

'''Gives count of the persons whos inintial is S'''
count = 0
for i in df["Name"]:
    if [i][0][0] == "S":
        count = count + 1
    else:
        count = count
        
'''Add two columns SibSp and Parch'''        
SibSp_list = []
Parch_list = []
sum_list = []
for i in df["SibSp"]:
    SibSp_list.append(i)
    
for j in df["Parch"]:
    Parch_list.append(j)
    
for ( a, b) in zip(SibSp_list , Parch_list):
    sum_list.append(a+b)
df["SibSp_Parch_addColl"] = sum_list

'''Gives Count of the persons whos age is below 25'''
age_count = 0
for i in df["Age"]:
    if i < 25:
        age_count = age_count +1

'''Seperats text and int data from Cabin column'''
text = []
numeric = []
for i in df["Cabin"]:
    if i == int:
        numeric.append(i)
    else:
        text.append(i)
        
print(f"Number of Male Passengers on the boat was {len(df[sax_male])}")
print(f"Number of Female passengers on the Boat was {len(df[sex_femle])}")
print(f"Number of passengers Survived on the Boat was {len(df[Psurvived])}")
print(f"Name of the eldest person of the boat is {eldest_person_name}")
print(f"{len(df[P_firstclass])} passengers travelling with First Class, {len(df[P_secondclass])} Passengers are travelling with second class and {len(df[P_thirdclass])} are travelling with Third class")
print(f"Number of passenger whoes name starts with letter S is {count}")
print(f"Number of Passengers whose age is below 25 is {age_count}")

Number of Male Passengers on the boat was 577
Number of Female passengers on the Boat was 314
Number of passengers Survived on the Boat was 342
Name of the eldest person of the boat is 803    Thomas, Master. Assad Alexander
Name: Name, dtype: object
216 passengers travelling with First Class, 184 Passengers are travelling with second class and 491 are travelling with Third class
Number of passenger whoes name starts with letter S is 86
Number of Passengers whose age is below 25 is 278